<h1>Crea tu pizza</h1>
<div class="row">
  <% for(var i=0; i<ingredientes.length; i++) {%>
  <div class="col-sm-3">
    <input type="checkbox" name="ingredientes" id="ingrediente<%=i.toString()%>"><%= ingredientes[i].descripcion %><br>
    <p>Precio:$<%= ingredientes[i].precio %></p>
  </div>
  <% } %>
  <button onclick="calcularPrecioTotal()">LISTO!</button>
</div>
<script>
  function calcularPrecioTotal(){
    var precioTotal = 0;
    for(var j=0; j<ingredientes.length; j++){
      if(document.getElementById("ingrediente"+j.toString()).checked){
        precioTotal = precioTotal + ingredientes[j].precio;
      }
    }
   document.getElementById("precioTotal").innerHTML=precioTotal.toString();
  }
</script>

<h2>Precio Total: </h2>
<h3 id="precioTotal"></h3> 

