<h1>Crea tu pizza</h1>
<div class="row">
  <% for(var i=0; i<ingredientes.length; i++) {%>
  <div class="col-sm-3">
    <input type="checkbox" name="ingredientes" value=""><%= ingredientes[i].descripcion %><br>
  </div>
  <% } %>
  <input type="submit" value="Submit">
</div>

